<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>Botões de Categoria</title>
</head>
<body>

  <div class="categorias-container">
    <button class="categoria-btn azul">Shows</button>
    <button class="categoria-btn verde">Educação</button>
    <button class="categoria-btn laranja">Lazer</button>
    <button class="categoria-btn amarelo">Finanças</button>
    <button class="categoria-btn branco">Outros</button>
  </div>

</body>
</html>