body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #f7f4e9;
    color: #333;
}

.container {
    width: 90%;
    max-width: 650px;
    margin: 40px auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-size: 28px;
    font-weight: bold;
}

.profile-photo {
    text-align: center;
    margin: 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-photo img {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    object-fit: cover;
}

.btn-alter-foto {
    margin-top: 10px;
    background: white;
    border-radius: 10px;
    border: none;
    color: #555;
    cursor: pointer;
    width: 100px;
    padding: 8px;
}

.section-title {
    margin-top: 40px;
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: bold;
}

form label {
    display: block;
    margin-bottom: 18px;
    font-size: 14px;
    color: #555;
}

.estados {
    margin-left: 40px;
}

input, textarea, select {
    width: 100%;
    padding: 12px;
    margin-top: 6px;
    border-radius: 10px;
    border: 1px solid #ddd;
    background: #fff;
    font-size: 14px;
}

textarea {
    height: 100px;
    resize: none;
}

.row {
    display: flex;
    gap: 10px;
}

.toggle-box {
    display: flex;
    align-items: flex-start;
    margin-bottom: 30px;
}

.toggle {
    position: relative;
    display: inline-block;
    width: 46px;
    height: 24px;
    margin-right: 12px;
}

.toggle input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    background: #ccc;
    border-radius: 24px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: .3s;
}

.slider:before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background: white;
    border-radius: 50%;
    left: 2px;
    top: 2px;
    transition: .3s;
}

input:checked + .slider {
    background: #8b6f4e;
}

input:checked + .slider:before {
    transform: translateX(22px);
}

.toggle-text strong {
    font-size: 15px;
}

.toggle-text p {
    margin: 4px 0 0 0;
    font-size: 13px;
    color: #666;
}
.button{
    display: flex;
    justify-content: center;
}

.btn-submit {
    width:50%;
    padding: 15px;
    background: #f6d96b;
    border: none;
    border-radius: 20px;
    margin-top: 20px ;
    cursor: pointer;
}
