body {
  font-family: 'Inter', sans-serif;
  background-color: #fffaf0;
  color: #2b2b2b;
  margin: 0;
  padding: 0;
}
 
.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
}
 
.banner {
  width: 100%;
  height: 200px;
  border-radius: 15px;
  background: url('https://www.assai.com.br/sites/default/files/styles/blog_destaque/public/blog/pessoas_em_uma_festa_da_virada_vendo_um_show_de_fogos_de_artificio_de_ano_novo_-_assai_atacadista.jpg?itok=Qi2SSJyD')
    center/cover no-repeat;
  margin-bottom: 20px;
}
 
h1 {
  font-size: 1.8rem;
  margin-bottom: 15px;
}
 
.local {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 25px;
}
 
.local-item {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 0.95rem;
}
 
.local-item i {
  background: #004aad;
  border-radius: 50%;
  padding: 8px;
}
 
.confirma-box {
  background-color: #8dbeff;
  border-radius: 12px;
  padding: 20px;
  margin-bottom: 25px;
  text-align: center;
}

.progress-bar {
  background-color: #004aad;
  border-radius: 10px;
  height: 8px;
  margin: 10px 0;
  position: relative;
  overflow: hidden;
}
 
.progress {
  background-color: #ccee52;
  width: 70%;
  height: 100%;
  border-radius: 10px;
}
 
.buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 15px;
}
 
button {
  border: none;
  border-radius: 25px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
}
 
.btn-main {
  background-color: #004aad;
  font-weight: bold;
  color: #fffaf0;
}
 
.btn-outline {
  background-color: transparent;
  border: 2px solid #004aad;
  color: #ccee52;
}
 
.galera h3{
  text-align: center;
  margin-bottom: 25px;
  color: #004aad;
}
 
.pessoas {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: 15px;
  
}
 
.pessoa {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.9rem;
  cursor: pointer;
}

.pessoa img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 5px;
  border: 3px solid #8dbeff;
}

.pessoa img:hover{
  border: 3px solid #ccee52;
}
 
.mais {
  background-color: #e9ff9c;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}
 
.sobre {
  margin-bottom: 30px;
  text-align: center;
}

.sobre h3{
  color:#004aad ;
}
 
.final-btn {
  display: block;
  width: 100%;
  padding: 15px;
  background-color: #8dbeff;
  border: none;
  border-radius: 12px;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s;
}
 
.final-btn:hover {
  background-color: #ffda3c;
}
