<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="card-events.css">
    <title>Document</title>
</head>
<body>
    <div class="card-evento">
    <div class="card-imagem">
        <img src="image.png" alt="Noite do Rock Classico">
    </div>

    <div class="card-info">
        <div class="evento-header">
            <span class="data">DOM 18, MAIO. 18:00</span>
            <div class="status">
                <span>Status</span>
                <p>Aberto</p>
            </div>
        </div>

        <h1>Noite do Rock Classico</h1>
        <h2>Bar Boca da Mata</h2>

        <div class="tags">
            <span class="tag verde">Arte & Cultura</span>
            <span class="tag amarelo">Musica</span>
            <span class="tag amarelo">Shows</span>
        </div>

        <p class="descricao">
            Vamos reviver os maiores hinos do rock que marcaram gerações. 
            De Queen a Led Zeppelin, passando por Pink Floyd, Rolling Stones, Rita Lee e muito mais. 
            Pegue sua jaqueta de couro e venha cantar junto!
        </p>

        <p class="creditos">Criado por: <span class="autor">Ana Julia</span></p>
        <p class="participantes">Participantes: <span>16/20</span></p>
    </div>

    <div class="btn-area">
        <button class="btn-participar">Participar</button>
    </div>
</div>
</body>
</html>