<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <div class="card-evento2">
    <div class="card2-img">
        <img src="Mask group (1).png" alt="Rec n' Play">
    </div>

    <div class="card2-info">
        <p class="card2-data">SEX 17, Outubro. 12:00</p>

        <h2 class="card2-titulo">Rec n’ Play</h2>

        <p class="card2-local">Recife Antigo</p>

        <button class="card2-btn">Ver Detalhes</button>
    </div>
</div>

</body>
</html>